In [6]:
import numpy as np
import pandas as pd
import csv
import matplotlib as plot
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
rc('font', family='AppleGothic')
import matplotlib as mpl
%matplotlib inline

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)
pd.options.display.float_format = '{:.4f}'.format
    
import glob

# import IPython  
# app = IPython.Application.instance()  
# app.kernel.do_shutdown(True)

In [7]:
print("hello")

hello

In [8]:
path3 = "/Users/choeseung-won/Deep_Study/cj_project/2021년 미래기술 챌린지_211005/1. 이커머스 FC주문 데이터/1-1. 이커머스 FC주문 데이터_3월.csv"
path4 = "/Users/choeseung-won/Deep_Study/cj_project/2021년 미래기술 챌린지_211005/1. 이커머스 FC주문 데이터/1-2. 이커머스 FC주문 데이터_4월.csv"
path5 = "/Users/choeseung-won/Deep_Study/cj_project/2021년 미래기술 챌린지_211005/1. 이커머스 FC주문 데이터/1-3. 이커머스 FC주문 데이터_5월.csv"
path6 = "/Users/choeseung-won/Deep_Study/cj_project/2021년 미래기술 챌린지_211005/1. 이커머스 FC주문 데이터/1-4. 이커머스 FC주문 데이터_6월.csv"

In [10]:
df = pd.read_excel(path3, sheet_name='워크시트 익스포트')
df4 = pd.read_excel(path4, sheet_name='워크시트 익스포트')
df5 = pd.read_excel(path5, sheet_name='워크시트 익스포트')
df6 = pd.read_excel(path6, sheet_name='워크시트 익스포트')

df = pd.concat([df, df4,  df5, df6])

df

/Users/choeseung-won/opt/anaconda3/envs/pytorch/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,CORP_ID,REF_ORD_NO,BKG_NO,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,BRAND_NM,ITEM_QTY,ITEM_AMT,IF_YN,ORDER_CRT_DATETIME,DLV_DV,REF_ITEM_SEQ,ORDER_IDX,ORDER_YN,DLVPREARRBRANCD,DLVPREARREMPNICKNM,DLVCLSFCD,DLVSUBCLSFCD,INS_ID,INS_DATE,INS_TIME,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,KX007,2021030365922551,KX007210303370934,7,20210303,35510,90001302,22400.0000,2.0000,134265392,단일상품,1.0000,14900.0000,N,20210303035459.0000,1.0000,2021030323885041,2021030323885041,Y,7484,C06,5Z73,1,iNEXBatch,20210303,131425,3.0000,N,세종특별자치시,NaN,서울특별시,서대문구
1,KX007,2021030365922951,KX007210303371080,7,20210303,35521,90001441,20900.0000,1.0000,4610261043_2,조합형옵션상품,1.0000,20900.0000,N,20210303035501.0000,1.0000,2021030323885721,2021030323885721,Y,6427,M09,6R67,4,iNEXBatch,20210303,131425,50.0000,N,경기도,광주시,경상남도,김해시
2,KX007,2021030365924361,KX007210303371081,7,20210303,35513,90001441,37900.0000,1.0000,4936599538_1,조합형옵션상품,1.0000,37900.0000,N,20210303035505.0000,1.0000,2021030323887981,2021030323887981,Y,6158,L32,9Y25,0,iNEXBatch,20210303,131425,53.0000,N,경기도,광주시,경상남도,거제시
3,KX007,2021030365928921,KX007210303371205,7,20210303,35608,90001542,69800.0000,1.0000,3858391637_1,조합형옵션상품,1.0000,69800.0000,N,20210303035519.0000,1.0000,2021030323895281,2021030323895281,Y,8909,D21,1N65,1,iNEXBatch,20210303,131425,6.0000,N,경기도,광주시,서울특별시,서초구
4,KX007,2021030365930451,KX007210303370967,7,20210303,35551,90001341,73700.0000,1.0000,4631307460,단일상품,1.0000,39800.0000,N,20210303035524.0000,1.0000,2021030323897651,2021030323897651,Y,2777,R15,3D84,1,iNEXBatch,20210303,131425,10.0000,N,경기도,광주시,경기도,김포시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676907,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,16.0000,00281,NaN,100.0000,NaN,N,NaN,1.0000,00281,00281,Y,8981,NaN,5F20,1,osulloc01,20210628,91210,10.0000,N,경기도,군포시,경기도,NaN
676908,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,17.0000,00316,NaN,168.0000,NaN,N,NaN,1.0000,00316,00316,Y,8981,NaN,5F20,1,osulloc01,20210628,91210,10.0000,N,경기도,군포시,경기도,NaN
676909,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,18.0000,00338,NaN,100.0000,NaN,N,NaN,1.0000,00338,00338,Y,8981,NaN,5F20,1,osulloc01,20210628,91210,10.0000,N,경기도,군포시,경기도,NaN
676910,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,19.0000,00183,NaN,50.0000,NaN,N,NaN,1.0000,00183,00183,Y,8981,NaN,5F20,1,osulloc01,20210628,91210,10.0000,N,경기도,군포시,경기도,NaN
676911,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,20.0000,8809641651310,NaN,100.0000,NaN,N,NaN,1.0000,8809641651310,8809641651310,Y,8981,NaN,5F20,1,osulloc01,20210628,91210,10.0000,N,경기도,군포시,경기도,NaN

In [11]:

def makedata(df):
    df['BKG_DATE'] = df['BKG_DATE'].astype(str)
    df['BKG_DATE_TimeStamp']=pd.to_datetime(df['BKG_DATE'])
    df["Year"] = df["BKG_DATE_TimeStamp"].dt.year
    df["Month"] = df["BKG_DATE_TimeStamp"].dt.month
    df["Day"] = df["BKG_DATE_TimeStamp"].dt.day
    df["Day_of_week"] = df["BKG_DATE_TimeStamp"].dt.day_name()

    df['SHPR_CD'] = df['SHPR_CD'].astype(str)


    return df

df = makedata(df)

In [12]:
timeseries_df = pd.DataFrame()
timeseries_df['Date'] = df.BKG_DATE.unique()
timeseries_df['Date_for_day'] = pd.to_datetime(df.BKG_DATE.unique())
timeseries_df['TotalCount'] = timeseries_df.Date.map(lambda x: df.query(f' BKG_DATE == "{x}"').shape[0])
timeseries_df['Day_of_week'] = timeseries_df['Date_for_day'].dt.day_name()


timeseries_df = pd.get_dummies(timeseries_df,prefix='', prefix_sep='', columns=['Day_of_week'])
timeseries_df = timeseries_df.drop(columns='Date_for_day')
timeseries_df

,Date,TotalCount,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,20210303,13756,0,0,0,0,0,0,1
1,20210302,11912,0,0,0,0,0,1,0
2,20210301,8536,0,1,0,0,0,0,0
3,20210304,10330,0,0,0,0,1,0,0
4,20210305,12929,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
117,20210624,17777,0,0,0,0,1,0,0
118,20210626,16404,0,0,1,0,0,0,0
119,20210627,20792,0,0,0,1,0,0,0
120,20210625,18206,1,0,0,0,0,0,0
121,20210630,44310,0,0,0,0,0,0,1

In [14]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()


timeseries_df["TotalCount"] = min_max_scaler.fit_transform(timeseries_df["TotalCount"].to_numpy().reshape(-1,1))
timeseries_df

,Date,TotalCount,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,20210303,0.2222,0,0,0,0,0,0,1
1,20210302,0.1752,0,0,0,0,0,1,0
2,20210301,0.0893,0,1,0,0,0,0,0
3,20210304,0.1350,0,0,0,0,1,0,0
4,20210305,0.2011,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
117,20210624,0.3245,0,0,0,0,1,0,0
118,20210626,0.2896,0,0,1,0,0,0,0
119,20210627,0.4013,0,0,0,1,0,0,0
120,20210625,0.3355,1,0,0,0,0,0,0
121,20210630,1.0000,0,0,0,0,0,0,1